/* ROOT VARIABLES */
@media (prefers-color-scheme: dark) {
    :root {
        /* Colors */
        --color-primary: #458588;
        --color-danger: #fb3934;
        --color-success: #b8bb26;
        --color-warning: #fabd2f;
        --color-white: #ebdbb2;
        --color-dark: #928374;


        /* Dark Theme */
        --color-bg: #282828;
        --color-bg1: #3c3836;
        --color-bg2: #504945;
        --color-bg3: #665c54;
        --color-bg4: #7c6f64;
        --color-fg: #ebdbb2;
        --color-fg1: #d5c4a1;
        --color-fg2: #bdae93;

        /* Other */
        font-size: 16px;
        font-family: 'Google Sans Text'
    }
}

@media (prefers-color-scheme: light) {
    :root {
        /* Colors */
        --color-primary: #458588;
        --color-danger: #fb3934;
        --color-success: #b8bb26;
        --color-warning: #fabd2f;
        --color-white: #ebdbb2;
        --color-dark: #928374;

        /* Light Theme */
        --color-bg: #fbf1c7;
        --color-bg1: #ebdbb2;
        --color-bg2: #d5c4a1;
        --color--bg3: #bdae93;
        --color-bg4: #a89984;
        --color-fg: #3c3836;
        --color-fg1: #504945;
        --color-fg2: #665c54;

        /* Other */
        font-size: 16px;
        font-family: 'Google Sans Text'
    }
}

body {
    background: var(--color-bg);
    color: var(--color-fg);
    margin: 0;
    padding: 0;
}

main {
    margin-left: 16rem;
    padding: 1rem;
}

.sidebar {
    position: fixed;
    background: var(--color-bg1);
    padding: 1rem;
    overflow: hidden;
    height: 100vh;
    width: 14rem;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


.sidebar-item {
    width: 100%;
}

.sidebar-item:last-child {
    margin-top: auto;
}

.sidebar-link {
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 1rem;
    color: var(--color-fg);
    text-decoration: none;
    border-radius: 1rem;
    filter: grayscale(100%) opacity(0.7);
    transition: all 300ms ease;
}

.sidebar-link:hover {
    background: var(--color-bg2);
    filter: grayscale(0%) opacity(1);
}

#logo .link-text{
    margin: auto;
    font-size: 2rem;
}

#logo {
    margin: 1rem;
}

.link-text {
    margin-right: auto;
    margin-left: 1rem;
}

.sidebar-link svg{
    width: 2rem;
    min-width: 2rem;
    /* margin: 0 1.5rem; */
}

.link-logo {
    fill: var(--color-fg);
}

div.card {
    position: relative;
    padding: 1rem;
    background: var(--color-bg1);
    border-top: 0.6rem solid var(--color-fg);
    border-radius: 1rem;
    text-align: center;
}

@font-face {
    font-family: 'Google Sans Text';
    src: url('google-sans-text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

    /* Text smoothing stuff. */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}